
âš¡ Simple Transformation Scenarios

ðŸ”¹ Scenario 1 â€” Select Specific Columns

Input DataFrame
```
+--------+--------+--------+--------+
| emp_id | name   | dept   | salary |
+--------+--------+--------+--------+
| 1      | Amit   | IT     | 70000  |
| 2      | Riya   | HR     | 90000  |
| 3      | Karan  | IT     | 65000  |
+--------+--------+--------+--------+
```
Transformation

Select only name and salary.

Output
```
+--------+--------+
| name   | salary |
+--------+--------+
| Amit   | 70000  |
| Riya   | 90000  |
| Karan  | 65000  |
+--------+--------+
```

In [0]:
from pyspark.sql import SparkSession  #''' import spark session from pyspark.sql(
from pyspark.sql.functions import *  ## import functions as F from pyspark.sql.functions

data = [
    (1, "Amit", "IT", 70000),
    (2, "Riya", "HR", 90000),
    (3, "Karan", "IT", 65000)
]

# Column names
columns = ["emp_id", "name", "dept", "salary"]


spark= SparkSession.builder.appName("My App").getOrCreate()
#'''in databricks this spark session already created default so no neeed to create. so you can directly using "spark" keyword )'''

# Create DataFrame
df = spark.createDataFrame(data, columns)

# Show DataFrame
df.show()

# df.createOrReplaceTempView("employees")
## Type1 by using select

selectdf = df.select("name","salary")
# sqldf = spark.sql("select name,emp_id,dept from employees")
# sqldf.show()
print()
print("using select caluse:")
selectdf.show()

## Type 2 by using sql format

## if we want to use sql style data processing we need to create temparary view
df.createOrReplaceTempView("employees")

sqldf= spark.sql("select name, salary from employees")
print("using sql way:")
sqldf.show()


ðŸ”¹ Scenario 2 â€” Filter Rows

Input DataFrame
```
+--------+--------+--------+--------+
| emp_id | name   | dept   | salary |
+--------+--------+--------+--------+
| 1      | Amit   | IT     | 70000  |
| 2      | Riya   | HR     | 90000  |
| 3      | Karan  | IT     | 65000  |
+--------+--------+--------+--------+
```
Transformation

Filter employees with salary > 70000.

Output
```
+--------+--------+--------+--------+
| emp_id | name   | dept   | salary |
+--------+--------+--------+--------+
| 2      | Riya   | HR     | 90000  |
+--------+--------+--------+--------+
```

In [0]:

from pyspark.sql.functions import filter, col


data =[
    (1,"Amit","IT",70000),
    (2,"Riya","HR",90000),
    (3,"karan","IT",65000)
]

Columns= ["emp_id","name","dept","salary"]

df = spark.createDataFrame(data,Columns)

df.show()

print("using filter command:")
fildf = df.filter("salary > 70000")
fildf.show()

print("using col function in filter :" )
fill2 = df.filter(col("salary") > 70000)
fill2.show()



employees = df.createOrReplaceTempView("df")

print("usinf sql type filter:")
sqltypedf = spark.sql("select * from employees where salary > 70000") 
sqltypedf.show()


ðŸ”¹ Scenario 3 â€” Add New Column

Input DataFrame
```
+--------+--------+--------+
| emp_id | name   | salary |
+--------+--------+--------+
| 1      | Amit   | 70000  |
| 2      | Riya   | 90000  |
| 3      | Karan  | 65000  |
+--------+--------+--------+
```
Transformation

Add a new column bonus = salary * 0.1.

Output
```
+--------+--------+--------+-------+
| emp_id | name   | salary | bonus |
+--------+--------+--------+-------+
| 1      | Amit   | 70000  | 7000  |
| 2      | Riya   | 90000  | 9000  |
| 3      | Karan  | 65000  | 6500  |
+--------+--------+--------+-------+
```

In [0]:
from pyspark.sql.functions import *


data =[
    (1,"Amit","IT",70000),
    (2,"Riya","HR",90000),
    (3,"karan","IT",65000)
]

Columns= ["emp_id","name","dept","salary"]

df = spark.createDataFrame(data,Columns)

df.show()

print("using withcolumn and col function:")
adddf = df.withColumn("bouns", (col("salary") * (10/100)).cast("int"))
adddf.show()

employees = df.createOrReplaceTempView("df")

print("using sql type with cast function")
sqlstyledf = spark.sql("""select *, cast(salary * 0.1 as int) as Bouns from employees""")
sqlstyledf.show()

ðŸ”¹ Scenario 4 â€” Group By and Aggregate

Input DataFrame
```
+--------+--------+--------+
| emp_id | dept   | salary |
+--------+--------+--------+
| 1      | IT     | 70000  |
| 2      | HR     | 90000  |
| 3      | IT     | 65000  |
| 4      | HR     | 85000  |
+--------+--------+--------+
```
Transformation

Group by dept and compute total salary.

Output
```
+--------+------------+
| dept   | total_salary|
+--------+------------+
| IT     | 135000     |
| HR     | 175000     |
+--------+------------+
```

In [0]:
from pyspark.sql.functions import col, filter, sum

# Create Spark session
spark = SparkSession.builder.appName("EmployeeData").getOrCreate()

# Input data
data = [
    (1, "IT", 70000),
    (2, "HR", 90000),
    (3, "IT", 65000),
    (4, "HR", 85000)
]

# Create DataFrame without StructType
df = spark.createDataFrame(data, ["emp_id", "dept", "salary"])

# Show DataFrame
df.show()


groupdf = df.groupBy("dept","emp_id").agg(sum(col("salary")).alias("total_salary"))
groupdf.show()


df.createOrReplaceTempView("df")

sqlgroupdf = spark.sql("""
                       select  dept, sum(salary) as Total_salary from df
                       group by dept
                       """)
sqlgroupdf.show()

ðŸ”¹ Scenario 5 â€” Rename Column

Input DataFrame
```
+--------+--------+--------+
| emp_id | name   | salary |
+--------+--------+--------+
| 1      | Amit   | 70000  |
| 2      | Riya   | 90000  |
+--------+--------+--------+
```
Transformation

Rename salary â†’ monthly_salary.

Output
```
+--------+--------+---------------+
| emp_id | name   | monthly_salary|
+--------+--------+---------------+
| 1      | Amit   | 70000         |
| 2      | Riya   | 90000         |
+--------+--------+---------------+
```

In [0]:
from pyspark.sql import SparkSession

# Create Spark session
spark = SparkSession.builder.appName("EmployeeNameData").getOrCreate()

# Input data
data = [
    (1, "Amit", 70000),
    (2, "Riya", 90000)
]

# Create DataFrame without StructType
df = spark.createDataFrame(data, ["emp_id", "name", "salary"])

# Show DataFrame
df.show()


renamedf = df.withColumnRenamed("salary","monthly_salary").show()

df.createOrReplaceTempView("df")

sqlrenamedf = spark.sql("""
                        select emp_id, name, salary as monthly_salary from df
                        """).show()



ðŸ”¥ Scenario 1 â€” Inner Join: Employees With Matching Departments

ðŸ“˜ Description

Perform an inner join to return only employees who have a matching department in the department table.

ðŸ”¹ Input: employees
```
+--------+--------+--------+
| emp_id | name   | dept_id|
+--------+--------+--------+
| 1      | Amit   | 10     |
| 2      | Riya   | 20     |
| 3      | Karan  | 30     |
+--------+--------+--------+
```
ðŸ”¹ Input: departments
```
+--------+-------------+
| dept_id| dept_name   |
+--------+-------------+
| 10     | IT          |
| 20     | HR          |
+--------+-------------+
```
ðŸ”¹ Output
```
+--------+--------+--------+-------------+
| emp_id | name   | dept_id| dept_name   |
+--------+--------+--------+-------------+
| 1      | Amit   | 10     | IT          |
| 2      | Riya   | 20     | HR          |
+--------+--------+--------+-------------+
```

In [0]:
from pyspark.sql import SparkSession

# Create Spark session
spark = SparkSession.builder.appName("EmployeesData").getOrCreate()

# Input data
employees_data = [
    (1, "Amit", 10),
    (2, "Riya", 20),
    (3, "Karan", 30)
]

# Create DataFrame without StructType
employees_df = spark.createDataFrame(
    employees_data,
    ["emp_id", "name", "dept_id"]
)

# Show DataFrame
employees_df.show()


departments_data = [
    (10, "IT"),
    (20, "HR")
]

# Create DataFrame without StructType
departments_df = spark.createDataFrame(
    departments_data,
    ["dept_id", "dept_name"]
)

# Show DataFrame
departments_df.show()

ðŸ”¥ Scenario 2 â€” Left Join: Employees Without Departments

ðŸ“˜ Description

Find all employees and attach department names where available.
Employees without a department should show NULL.

ðŸ”¹ Input: employees
```
+--------+--------+--------+
| emp_id | name   | dept_id|
+--------+--------+--------+
| 1      | Amit   | 10     |
| 2      | Riya   | 20     |
| 3      | Karan  | 30     |
+--------+--------+--------+
```
ðŸ”¹ Input: departments
```
+--------+-------------+
| dept_id| dept_name   |
+--------+-------------+
| 10     | IT          |
| 20     | HR          |
+--------+-------------+
```

ðŸ”¹ Output
```
+--------+--------+--------+-------------+
| emp_id | name   | dept_id| dept_name   |
+--------+--------+--------+-------------+
| 1      | Amit   | 10     | IT          |
| 2      | Riya   | 20     | HR          |
| 3      | Karan  | 30     | NULL        |
+--------+--------+--------+-------------+
```

In [0]:
from pyspark.sql import SparkSession

# Create Spark session
spark = SparkSession.builder.appName("EmployeesData").getOrCreate()

# Input data
employees_data = [
    (1, "Amit", 10),
    (2, "Riya", 20),
    (3, "Karan", 30)
]

# Create DataFrame without StructType
employees_df = spark.createDataFrame(
    employees_data,
    ["emp_id", "name", "dept_id"]
)

# Show DataFrame
employees_df.show()


departments_data = [
    (10, "IT"),
    (20, "HR")
]

# Create DataFrame without StructType
departments_df = spark.createDataFrame(
    departments_data,
    ["dept_id", "dept_name"]
)

# Show DataFrame
departments_df.show()


joindf = employees_df.join(departments_df, ["dept_id"], "left")
joindf.show()

differentcoldf = employees_df.join(departments_df, (employees_df.dept_id1 == departments_df.dept_id2), "left")\
    .withColumnRenamed("dept_id1", "dept_id").drop("dept_id2")
differentcoldf.show()

ðŸ”¥ Scenario 3 â€” Right Join: All Departments Even Without Employees

ðŸ“˜ Description

Return every department, even if no employee belongs to it.

ðŸ”¹ Input: employees
```
+--------+--------+--------+
| emp_id | name   | dept_id|
+--------+--------+--------+
| 1      | Amit   | 10     |
| 2      | Riya   | 20     |
+--------+--------+--------+
```
ðŸ”¹ Input: departments
```
+--------+-------------+
| dept_id| dept_name   |
+--------+-------------+
| 10     | IT          |
| 20     | HR          |
| 30     | Finance     |
+--------+-------------+
```
ðŸ”¹ Output
```
+--------+--------+--------+-------------+
| emp_id | name   | dept_id| dept_name   |
+--------+--------+--------+-------------+
| 1      | Amit   | 10     | IT          |
| 2      | Riya   | 20     | HR          |
| NULL   | NULL   | 30     | Finance     |
+--------+--------+--------+-------------+
```

In [0]:
from pyspark.sql import SparkSession

# Create Spark session
spark = SparkSession.builder.appName("EmployeesData").getOrCreate()

# Input data
employees_data = [
    (1, "Amit", 10),
    (2, "Riya", 20)
]

# Create DataFrame without StructType
employees_df = spark.createDataFrame(
    employees_data,
    ["emp_id", "name", "dept_id1"]
)

# Show DataFrame
employees_df.show()


departments_data = [
    (10, "IT"),
    (20, "HR"),
    (30, "IT")
]

# Create DataFrame without StructType
departments_df = spark.createDataFrame(
    departments_data,
    ["dept_id2", "dept_name"]
)

# Show DataFrame
departments_df.show()


# joindf = employees_df.join(departments_df, ["dept_id"], "right")
# joindf.show()

differentcoldf = employees_df.join(departments_df, (employees_df.dept_id1 == departments_df.dept_id2), "right")\
     .withColumnRenamed("dept_id2", "dept_id").drop("dept_id1")
   
    
differentcoldf.show()

ðŸ”¥ Scenario 4 â€” Full Outer Join: All Employees & All Departments

ðŸ“˜ Description

Return every employee and every department.
Missing matches should show NULL on either side.

ðŸ”¹ Input: employees
```
+--------+--------+--------+
| emp_id | name   | dept_id|
+--------+--------+--------+
| 1      | Amit   | 10     |
| 2      | Riya   | 20     |
| 3      | Karan  | 30     |
+--------+--------+--------+
```
ðŸ”¹ Input: departments
```
+--------+-------------+
| dept_id| dept_name   |
+--------+-------------+
| 10     | IT          |
| 20     | HR          |
| 40     | Support     |
+--------+-------------+
```
ðŸ”¹ Output
```
+--------+--------+--------+-------------+
| emp_id | name   | dept_id| dept_name   |
+--------+--------+--------+-------------+
| 1      | Amit   | 10     | IT          |
| 2      | Riya   | 20     | HR          |
| 3      | Karan  | 30     | NULL        |
| NULL   | NULL   | 40     | Support     |
+--------+--------+--------+-------------+
```

ðŸ”¥ Scenario 5 â€” Anti Join: Employees Without Matching Department

ðŸ“˜ Description

Find employees whose department is not present in the department table.

ðŸ”¹ Input: employees
```
+--------+--------+--------+
| emp_id | name   | dept_id|
+--------+--------+--------+
| 1      | Amit   | 10     |
| 2      | Riya   | 20     |
| 3      | Karan  | 30     |
+--------+--------+--------+
```
ðŸ”¹ Input: departments
```
+--------+-------------+
| dept_id| dept_name   |
+--------+-------------+
| 10     | IT          |
| 20     | HR          |
+--------+-------------+
```
ðŸ”¹ Output
```
+--------+--------+--------+
| emp_id | name   | dept_id|
+--------+--------+--------+
| 3      | Karan  | 30     |
+--------+--------+--------+
```



ðŸ”¥ Scenario 6 â€” Semi Join: Employees With Existing Departments Only

ðŸ“˜ Description

A semi join returns rows from the left table (employees) that have matching rows in the right table (departments).
Unlike inner join, it does not include columns from the right table.

ðŸ”¹ Input: employees
```
+--------+--------+--------+
| emp_id | name   | dept_id|
+--------+--------+--------+
| 1      | Amit   | 10     |
| 2      | Riya   | 20     |
| 3      | Karan  | 30     |
+--------+--------+--------+
```
ðŸ”¹ Input: departments
```
+--------+-------------+
| dept_id| dept_name   |
+--------+-------------+
| 10     | IT          |
| 20     | HR          |
+--------+-------------+
```
ðŸ”¹ Output
```
+--------+--------+--------+
| emp_id | name   | dept_id|
+--------+--------+--------+
| 1      | Amit   | 10     |
| 2      | Riya   | 20     |
+--------+--------+--------+
```

ðŸ”¥ Scenario 7 â€” Cross Join: Cartesian Product of Employees and Departments

ðŸ“˜ Description

A cross join returns all possible combinations of rows from both tables.
Useful for generating all pairings.

ðŸ”¹ Input: employees
```
+--------+--------+
| emp_id | name   |
+--------+--------+
| 1      | Amit   |
| 2      | Riya   |
+--------+--------+
```
ðŸ”¹ Input: departments
```
+--------+-------------+
| dept_id| dept_name   |
+--------+-------------+
| 10     | IT          |
| 20     | HR          |
+--------+-------------+
```
ðŸ”¹ Output
```
+--------+--------+--------+-------------+
| emp_id | name   | dept_id| dept_name   |
+--------+--------+--------+-------------+
| 1      | Amit   | 10     | IT          |
| 1      | Amit   | 20     | HR          |
| 2      | Riya   | 10     | IT          |
| 2      | Riya   | 20     | HR          |
+--------+--------+--------+-------------+
```

ðŸ”¥ Scenario 8 â€” Self Join: Employees and Their Managers

ðŸ“˜ Description

A self join is when a table joins with itself.
In this example, we assume employees have a manager_id pointing to another employee.

ðŸ”¹ Input: employees
```
+--------+--------+-----------+
| emp_id | name   | manager_id|
+--------+--------+-----------+
| 1      | Amit   | 3         |
| 2      | Riya   | 3         |
| 3      | Karan  | NULL      |
+--------+--------+-----------+
```
ðŸ”¹ Output
```
+--------+--------+-----------+--------+
| emp_id | name   | manager_id| manager|
+--------+--------+-----------+--------+
| 1      | Amit   | 3         | Karan  |
| 2      | Riya   | 3         | Karan  |
| 3      | Karan  | NULL      | NULL   |
+--------+--------+-----------+--------+