
âš¡ Simple Transformation Scenarios

ðŸ”¹ Scenario 1 â€” Select Specific Columns

Input DataFrame
```
+--------+--------+--------+--------+
| emp_id | name   | dept   | salary |
+--------+--------+--------+--------+
| 1      | Amit   | IT     | 70000  |
| 2      | Riya   | HR     | 90000  |
| 3      | Karan  | IT     | 65000  |
+--------+--------+--------+--------+
```
Transformation

Select only name and salary.

Output
```
+--------+--------+
| name   | salary |
+--------+--------+
| Amit   | 70000  |
| Riya   | 90000  |
| Karan  | 65000  |
+--------+--------+
```

In [0]:
from pyspark.sql import SparkSession  #''' import spark session from pyspark.sql(
from pyspark.sql.functions import *  ## import functions as F from pyspark.sql.functions

data = [
    (1, "Amit", "IT", 70000),
    (2, "Riya", "HR", 90000),
    (3, "Karan", "IT", 65000)
]

# Column names
columns = ["emp_id", "name", "dept", "salary"]


spark= SparkSession.builder.appName("My App").getOrCreate()
#'''in databricks this spark session already created default so no neeed to create. so you can directly using "spark" keyword )'''

# Create DataFrame
df = spark.createDataFrame(data, columns)

# Show DataFrame
df.show()

## Type1 by using select

selectdf = df.select("name","salary")
print()
print("using select caluse:")
selectdf.show()

## Type 2 by using sql format

## if we want to use sql style data processing we need to create temparary view
df.createOrReplaceTempView("employees")

sqldf= spark.sql("select name, salary from employees")
print("using sql way:")
sqldf.show()


ðŸ”¹ Scenario 2 â€” Filter Rows

Input DataFrame
```
+--------+--------+--------+--------+
| emp_id | name   | dept   | salary |
+--------+--------+--------+--------+
| 1      | Amit   | IT     | 70000  |
| 2      | Riya   | HR     | 90000  |
| 3      | Karan  | IT     | 65000  |
+--------+--------+--------+--------+
```
Transformation

Filter employees with salary > 70000.

Output
```
+--------+--------+--------+--------+
| emp_id | name   | dept   | salary |
+--------+--------+--------+--------+
| 2      | Riya   | HR     | 90000  |
+--------+--------+--------+--------+
```

In [0]:

from pyspark.sql.functions import *


data =[
    (1,"Amit","IT",70000),
    (2,"Riya","HR",90000),
    (3,"karan","IT",65000)
]

Columns= ["emp_id","name","dept","salary"]

df = spark.createDataFrame(data,Columns)

df.show()

print("using filter command:")
fildf = df. filter("salary > 70000")
fildf.show()

print("using col function in filter :" )
fill2 = df.filter(col("salary") > 70000)
fill2.show()



employees = df.createOrReplaceTempView("df")

print("usinf sql type filter:")
sqltypedf = spark.sql("select * from employees where salary > 70000") 
sqltypedf.show()


ðŸ”¹ Scenario 3 â€” Add New Column

Input DataFrame
```
+--------+--------+--------+
| emp_id | name   | salary |
+--------+--------+--------+
| 1      | Amit   | 70000  |
| 2      | Riya   | 90000  |
| 3      | Karan  | 65000  |
+--------+--------+--------+
```
Transformation

Add a new column bonus = salary * 0.1.

Output
```
+--------+--------+--------+-------+
| emp_id | name   | salary | bonus |
+--------+--------+--------+-------+
| 1      | Amit   | 70000  | 7000  |
| 2      | Riya   | 90000  | 9000  |
| 3      | Karan  | 65000  | 6500  |
+--------+--------+--------+-------+
```

In [0]:
from pyspark.sql.functions import *


data =[
    (1,"Amit","IT",70000),
    (2,"Riya","HR",90000),
    (3,"karan","IT",65000)
]

Columns= ["emp_id","name","dept","salary"]

df = spark.createDataFrame(data,Columns)

df.show()

print("using with column and col function:")
adddf = df.withColumn("bouns", (col("salary") * 0.1).cast("int"))
adddf.show()

employees = df.createOrReplaceTempView("df")

print("using sql type with cast function")
sqlstyledf = spark.sql("""select *, cast(salary * 0.1 as int) as Bouns from employees""")
sqlstyledf.show()

ðŸ”¹ Scenario 4 â€” Group By and Aggregate

Input DataFrame
```
+--------+--------+--------+
| emp_id | dept   | salary |
+--------+--------+--------+
| 1      | IT     | 70000  |
| 2      | HR     | 90000  |
| 3      | IT     | 65000  |
| 4      | HR     | 85000  |
+--------+--------+--------+
```
Transformation

Group by dept and compute total salary.

Output
```
+--------+------------+
| dept   | total_salary|
+--------+------------+
| IT     | 135000     |
| HR     | 175000     |
+--------+------------+
```

ðŸ”¹ Scenario 5 â€” Rename Column

Input DataFrame
```
+--------+--------+--------+
| emp_id | name   | salary |
+--------+--------+--------+
| 1      | Amit   | 70000  |
| 2      | Riya   | 90000  |
+--------+--------+--------+
```
Transformation

Rename salary â†’ monthly_salary.

Output
```
+--------+--------+---------------+
| emp_id | name   | monthly_salary|
+--------+--------+---------------+
| 1      | Amit   | 70000         |
| 2      | Riya   | 90000         |
+--------+--------+---------------+
```