
âš¡ Simple Transformation Scenarios

ðŸ”¹ Scenario 1 â€” Select Specific Columns

Input DataFrame
```
+--------+--------+--------+--------+
| emp_id | name   | dept   | salary |
+--------+--------+--------+--------+
| 1      | Amit   | IT     | 70000  |
| 2      | Riya   | HR     | 90000  |
| 3      | Karan  | IT     | 65000  |
+--------+--------+--------+--------+
```
Transformation

Select only name and salary.

Output
```
+--------+--------+
| name   | salary |
+--------+--------+
| Amit   | 70000  |
| Riya   | 90000  |
| Karan  | 65000  |
+--------+--------+
```


ðŸ”¹ Scenario 2 â€” Filter Rows

Input DataFrame
```
+--------+--------+--------+--------+
| emp_id | name   | dept   | salary |
+--------+--------+--------+--------+
| 1      | Amit   | IT     | 70000  |
| 2      | Riya   | HR     | 90000  |
| 3      | Karan  | IT     | 65000  |
+--------+--------+--------+--------+
```
Transformation

Filter employees with salary > 70000.

Output
```
+--------+--------+--------+--------+
| emp_id | name   | dept   | salary |
+--------+--------+--------+--------+
| 2      | Riya   | HR     | 90000  |
+--------+--------+--------+--------+
```


ðŸ”¹ Scenario 3 â€” Add New Column

Input DataFrame
```
+--------+--------+--------+
| emp_id | name   | salary |
+--------+--------+--------+
| 1      | Amit   | 70000  |
| 2      | Riya   | 90000  |
| 3      | Karan  | 65000  |
+--------+--------+--------+
```
Transformation

Add a new column bonus = salary * 0.1.

Output
```
+--------+--------+--------+-------+
| emp_id | name   | salary | bonus |
+--------+--------+--------+-------+
| 1      | Amit   | 70000  | 7000  |
| 2      | Riya   | 90000  | 9000  |
| 3      | Karan  | 65000  | 6500  |
+--------+--------+--------+-------+
```

ðŸ”¹ Scenario 4 â€” Group By and Aggregate

Input DataFrame
```
+--------+--------+--------+
| emp_id | dept   | salary |
+--------+--------+--------+
| 1      | IT     | 70000  |
| 2      | HR     | 90000  |
| 3      | IT     | 65000  |
| 4      | HR     | 85000  |
+--------+--------+--------+
```
Transformation

Group by dept and compute total salary.

Output
```
+--------+------------+
| dept   | total_salary|
+--------+------------+
| IT     | 135000     |
| HR     | 175000     |
+--------+------------+
```

ðŸ”¹ Scenario 5 â€” Rename Column

Input DataFrame
```
+--------+--------+--------+
| emp_id | name   | salary |
+--------+--------+--------+
| 1      | Amit   | 70000  |
| 2      | Riya   | 90000  |
+--------+--------+--------+
```
Transformation

Rename salary â†’ monthly_salary.

Output
```
+--------+--------+---------------+
| emp_id | name   | monthly_salary|
+--------+--------+---------------+
| 1      | Amit   | 70000         |
| 2      | Riya   | 90000         |
+--------+--------+---------------+
```